body {
    background-color: #027da6;
    color: white;
    font-family: "Comic Sans", cursive;
}

.main {
    padding-left: 30%;
    padding-right: 30%
}

.address_info {
    text-align: right;
}

.button {
  background-color: white
  border: none;
  color: black;
  width: 50%;
  float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
}

.button:hover {
    background-color: blue
}

.td_home {
    width: 50%;
}