body {
    background-color: #027da6;
    color: white;
    font-family: "Comic Sans", cursive;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
}

.address_info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
  background-color: white
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
}

.librarian_button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
}

.vertical_line {
  border-left: 5px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto
  top: 0;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
