@import url('https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation|neon');

body {
    background-color: #027da6;
    color: white;
    font-family: "Rancho";
    font-size: 20px
}

.main {
    padding-left: 25%;
    padding-right: 25%;
}

.address_info {
    text-align: right;
}

.button {
  background-color: white;
  border: groove 2px black;
  color: black;
  width: 50%;
  float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Rancho";
}

.centered_button {
  background-color: white;
  border: groove 2px black;
  color: black;
  width: 50%;
  text-decoration: none;
  font-size: 16px;
  font-family: "Rancho";
  display: block;
  margin: auto;
}

.login_button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
}

.submit_button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
  margin: 10px;
}

.librarian_button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans", cursive;
}

.vertical_line {
  border-left: 5px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.button:hover, .centered_button:hover {
    background-color: #33DCFF;
}

.td_home {
    width: 50%;
}

  .form-input {
    width:100px;
    padding:3px;
    background:#027da6;
  }
  .form-input input {
    display:none;
  }
  .form-input label {
    display:block;
    width:100px;
    height: auto;
    max-height: 100px;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
  }

  .form-input img {
    width:100px;
    height: 100px;
  }

  .imgRemove{
    position: relative;
    bottom: 114px;
    left: 100%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;

  }
  .imgRemove::after{
    content: ' \21BA';
    color: #fff;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
  }
  .small{
    color: white;
  }

.td_book_info {
    width: 33%;
}

.center_table, .tr_center, .td_center {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-family: "Comic Sans", cursive;
    margin: auto;
}

.overdue_header {
    color: red;
    text-align: left;
}