<!DOCTYPE html>
<html lang="en">
<div class="main">
    <head>
        <meta charset="UTF-8">
        <title>Libraltranary</title>
        <link rel="stylesheet" href="/static/Stylesheet.css">
    </head>

    <br>
    <body>
    <h1 style="text-align:center" class="font-effect-fire-animation">
        Add/Edit a Book
    </h1>

        <form action="/create_book" method=post enctype=multipart/form-data>
            <div class="form-group">
            <label for="title">Title:&emsp;</label>
            <input type="text" id="title" name="title"><br><br>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author"><br><br>
            <label for="copies">Number of Copies:</label>
            <select id="copies" name="copies" >
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br><br>
            </div>
            <label for="image_request">Upload Image?</label>
            <select id="image_request" name="image_request">
                <option value="Yes">Yes</option>
                <option value="No" selected>No</option>
            </select><br><br>
            <input type="submit" class="submit_button"><br><br>
        </form>


</body>
</div>
</html>