<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book_info</title>
    <link rel="stylesheet" href="/static/Stylesheet.css">
</head>
<body>
<div class="main">

    <h1 style="text-align:center">
        BOOK INFORMATION
    </h1>

    <table class="centre_table">
        <tr>
            <td class="td_book_info">
                Title <br/>
                Author <br/>
                Quantity <br/>
                Status </td>
            <td class="td_book_info">
                {{title}} <br/>
                {{author}} <br/>
                {{quantity}} <br/>
                {{status}} </td>
            <td>
                <img src="https://placekitten.com/400/600" width="200" height="300">
            </td>
        </tr>
    </table>

    <br/>
    <button class="centered_button" type="button" onclick="window.location.href='/catalogue'">Catalogue</button>

</div>

</body>
</html>