<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book_info</title>
    <link rel="stylesheet" href="/static/Stylesheet.css">
</head>
<body>
<div class="main">

    <h1 style="text-align:center" class="font-effect-fire-animation">
        BOOK INFORMATION
    </h1>

    <table class="centre_table">
        <tr>
            <td class="td_book_info">
                Title <br/>
                Author <br/>
                Quantity <br/>
                Status </td>
            <td class="td_book_info">
                {{title}} <br/>
                {{author}} <br/>
                {{quantity}} <br/>
                {{status}} </td>
            <td>
                {% if image %}
                    <img src="{{url_for('upload', filename=image)}}" width="200" height="300">
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" width="200" height="300">
                {% endif %}
            </td>
        </tr>
    </table>

    <br/>
    <div class="navbuttons" style="text-align:center;">
        {% if status == "Available" %}
            <button class="button" type="button">Borrow</button>
            <button class="button" type="button">Reserve</button>
        {% else %}
            <button class="centered_button" type="button">Reserve</button>
        {% endif %}
    </div>

    <button class="centered_button" type="button" onclick="window.location.href='/catalogue'">Catalogue</button>

</div>

</body>
</html>