<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="main">

    <h1 style="text-align:center">
        <img src="https://www.flaticon.com/svg/static/icons/svg/29/29302.svg" width="21" height="21">
        &emsp; BOOK INFORMATION &emsp;
        <img src="https://www.flaticon.com/svg/static/icons/svg/29/29302.svg" style="text-align: right" width="21" height="21">
    </h1>

    <table class="center_table">
        <tr class="tr_center">
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
        <!For loop goes here to cycle through database>
        <tr class="tr_center">
            <td class="td_center">Placeholder</td>
            <td class="td_center">Placeholder</td>
            <td class="td_center">Placeholder</td>
            <td class="td_center">Placeholder</tr>
    </table>

</div>
</body>
</html>