<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="static/Stylesheet.css">
</head>
<body>
<div class="main">

    <h1 style="text-align:center" class="font-effect-fire-animation">
    Catalogue
    </h1>

    <table class="center_table">
        <tr class="tr_center">
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
        {% for row in table %}
        <tr class="tr_center">
            <td class="td_center">{{row[0]}}</td>
            <td class="td_center">{{row[1]}}</td>
            <td class="td_center">{{row[2]}}</td>
            <td class="td_center">{{row[3]}}</tr>
        {% endfor %}
    </table>

</div>
</body>
</html>