<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="static/Stylesheet.css">
</head>
<body>
<div class="main">

    <h1 contenteditable spellcheck="false" class="h1_sign">
    Catalogue
    </h1>

    <table class="center_table">
        <tr class="tr_center">
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
        {% for row in table %}
            <tr class="tr_center">
                <td class="td_center">
                    <form action="/view_book" method="post">
                        <button class="btn-link" type="submit" name="search" value={{row[0]}}>&emsp;{{row[0]}}&emsp;</button>
                    </form>
                </td>
                <td class="td_center">&emsp;{{row[1]}}&emsp;</td>
                <td class="td_center">&emsp;{{row[2]}}&emsp;</td>
                <td class="td_center">&emsp;{{row[3]}}&emsp;</td>
            </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>