<!DOCTYPE html>
<html lang="en">
<body>
    <div class="main">
    <head>
        <meta charset="UTF-8">
        <title>Libraltranary</title>
        <link rel="stylesheet" href="Stylesheet.css">
    </head>


    <h1 style="text-align:center">
        <img src="https://www.flaticon.com/svg/static/icons/svg/29/29302.svg" width="21" height="21">
        &emsp; LIBRALTRANARY &emsp;
        <img src="https://www.flaticon.com/svg/static/icons/svg/29/29302.svg" style="text-align: right" width="21" height="21">
    </h1>

    <form action="/test" method="post">
        <div class="topnav" style="text-align:center;">
            <input type="text" placeholder="Title/Author" id="name" name="search">
        </div>
        <div class="navbuttons" style="text-align:center;">
            <button class="button" type="button">Search</button>
        </div>

    <br>

    <div class="navbuttons" style="text-align:center;">
        <button class="button" type="button">Catalogue</button>
        <button class="button" type="button">Log In</button>
    </div>

    <table>
        <tr>
            <td class="td_home">
                Opening hours: <br>
                <br>
                Monday: 08:00 - 20:00 <br>
                Tuesday: 08:00 - 20:00 <br>
                Wednesday: 08:00 - 20:00 <br>
                Thursday: 08:00 - 20:00 <br>
                Friday: 08:00 - 20:00 <br>
                Saturday: 08:00 - 20:00 <br>
                Sunday: 10:00 - 16:00
            </td>
            <td class="td_home">
                <img src="https://image.shutterstock.com/image-photo/house-made-books-piled-on-260nw-134954252.jpg" width="300" height="200">
            </td>
        </tr>
    </table>

    <br>

    <p class="address_info">
        Libraltranary <br>
        22 Book Street <br>
        Bookville <br>
        Democratic Republic Of Books <br>
        BO1 1OK
    </p>
    </div>
</body>
</html>