<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Librarian</title>
    <link rel="stylesheet" href="static/Stylesheet.css">
</head>
<body>
    <div class="main">
    <h1 style="text-align:center">
        Welcome Libraltranarian 1
    </h1>

    <div class="topnav" style="text-align:center;">
      <input type="text" placeholder="Title, Author, ISBN">
    </div>

    <br>

    <div class="navbuttons" style="text-align:center;">
        <button class="button" type="button">Catalogue</button>
        <button class="button" type="button">Member List</button>
    </div>

    <br>

    <h2 class="overdue_header">
        Overdue books
    </h2>

    <br>

    <table class="center_table">
        <tr class="tr_center">
            <th>Title</th>
            <th>Member</th>
            <th>Days Overdue</th>
        </tr>
        <tr>
            <td class="td_center">Facial hair for dummies</td>
            <td class="td_center">Beth Probert</td>
            <td class="td_center" style="color:red;">396</td>
        </tr>

</body>
</html>