<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Librarian</title>
    <link rel="stylesheet" href="static/Stylesheet.css">
</head>
<body>
<div class="menunav">
  <a href="/">Home</a>
  <a href="/catalogue">Catalogue</a>
  <a class="active" href="/login">Log In</a>
</div>
    <div class="main">
    <h1 style="text-align:center" class="font-effect-fire-animation">
        Welcome {{user.name}}
    </h1>

    <form action="/view_book" method="post">
        <div class="topnav" style="text-align:center;">
            <input type="text" placeholder="Title/Author" id="name" name="search">
        </div>
    </form>

    <br>

    <div class="navbuttons" style="text-align:center;">
        <button class="button" type="button" onclick="window.location.href='/catalogue'">Catalogue</button>
        <button class="button" type="button">Member List</button>
    </div>

    <br>

    <h2 class="overdue_header">
        Overdue books
    </h2>

    <br>

    <table class="center_table">
        <tr class="tr_center">
            <th>Title</th>
            <th>Member</th>
            <th>Days Overdue</th>
        </tr>
        <tr class="tr_center">
            <td class="td_center">&emsp;Facial hair for dummies&emsp;</td>
            <td class="td_center">&emsp;Beth Probert&emsp;</td>
            <td class="td_center" style="color:red;">&emsp;396&emsp;</td>
        </tr>
    </table>
    <br>

     <div class="navbuttons" style="text-align:center;">
        <button class="button" type="button" onclick="window.location.href='/create_book'">Add New Book</button>
    </div>

    </div>

</body>
</html>